.undrawn,
.drawn {
  max-width: 15vw;
  width: 100%;
}

#draw-area {
  max-width: 70vw;
  width: 100%;
}

.edit-svg,
.delete-svg {
  height: 100px;
  width: 100px;
}

.name-list-item {
  display: flex;
}

.delete-button,
.edit-button {
  display: none;
}

.name-list-item:hover .edit-button,
.name-list-item:hover .delete-button {
  display: block;
}
