.edit-svg,
.delete-svg {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.edit-svg svg,
.delete-svg svg {
  fill: red;
  background-color: var(--pico-background-color);
}

.name-list-item {
  display: flex;
}

/* .delete-button,
.edit-button {
  display: none;
} */

.clear-button-styles {
  background-color: transparent;
  border: 0;
}

.name-list-item:hover .edit-button,
.name-list-item:hover .delete-button {
  display: block;
}

.wrapper {
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
